%div.main-page__line
  %div.main-page-head
    %div.main__menu
      %div.main__menu-button
        =link_to 'All Hotels', all_hotels_path
%div.main-page__line
  %div.main-page-head
    %div.main-photo
      =image_tag (src='mainphoto.jpg'), :class => "main-photo__img"