%div.article__center
  %p Update your profile
%div.form-container__users
  = simple_form_for (@user) do |f|
    =f.input :name, :label => 'Name'
    =f.input :surname, :label => 'Surname'
    =f.input :email, :label => 'Email'
    =f.input :password, :label => 'Password'
    =f.input :password_confirmation, :label => 'Confirm password'
    =f.input :photo, :as => 'file', :label =>'Edit photo'
    =f.button :submit, :value => 'Save changes'