.main-page__head-line{
  background-color:#FFFFFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height:60px;
  width:100%;
}
.main-page__header{
  width:1024px;
  margin:0 auto;
}
.main-page__header__menu{
  margin:0 auto;
  list-style-type: none;
}

.main-page__header__logo{
  float:left;
}
.main-page__header__logo__img{
  margin-top:10px;
  margin-bottom: 10px;
  height: 40px;
}
.main-page__header__name{
  float:right;
  font-size:15px;
  height: 60px;
  line-height: 59px;
  padding: 0 12px;
}
.main-page__header__sign-up{
  float:right;
}
.main-page__header__sign-up-button {
  color: #000000;
  height: 60px;
  line-height: 59px;
  cursor: pointer;
  border: 1px solid #EDEEF0;
  background-color: #fefefe;
}
.main-page__header__sign-up-button a:hover{
  background-color: #EDEEF0;
  color: #0092ef;
}
.main-page__header__sign-up-button a{
  color: rgb(102,102,102);
  padding: 0 12px;
  text-decoration: none;
  display: block;
}