.pagination {
  font-size: 13px;
  text-align: center;
  margin: 0;
  padding: 3px 0 4px;
}
.pagination a,
.pagination span {
  padding: 3px 3px 2px;
}
.pagination li{
  list-style-type: none;
  display: inline-block;
}
.pagination .disabled {
  background:none repeat scroll 0 0 transparent;
  border:medium none;
  color:#999999;
  cursor:default;
}
.pagination a {
  color:#3B5998;
  cursor:pointer;
  text-decoration:none;
}
.pagination a:hover {
  background-color:#3B5998;
  border-bottom:1px solid #3B5998;
  border-color:#D8DFEA #D8DFEA #3B5998;
  color:#FFFFFF;
  text-decoration:none;
}
.pagination .current {}
.pagination .current {
  border-bottom:2px solid #3B5998;
  border-color:#3B5998;
  color:#3B5998;
  font-weight:bold;
  padding-left:2px;
  padding-right:2px;
}
.pagination .current a:hover {
  background-color:#3B5998;
  color:#FFFFFF;
}

.pagination .prev_page {

}
.pagination .next_page {

}