// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hotels{
  position: absolute;
  text-align: center;
  font-family: "Century Gothic";
  font-size: 13pt;
  border: solid;
  border-spacing: 0px 0px;
}

.hotels th{
  padding: 10px;
  border: solid 1px;
}

.hotels td{
  padding: 10px;
  border: solid 1px;
}

#caption{
  font-family: "Century Gothic";
  position: relative;
  left: 45%;
}

#newHotel{
  font-family: "Century Gothic";
  position: relative;
  font-size: 14pt;
  left: 15%;
}

.show{
  font-family: "Century Gothic";
  font-size: 14pt;
}

#back{
  font-size: 20pt;
}

.add{
  font-family: "Century Gothic";
  font-size: 14pt;
}

.text_optional{
  width: 100px;
  heigth: 5px;
  resize: none;
}

.error{
  position: relative;
  left:150px;
}